body{
    background: 
    linear-gradient(
        rgba(112, 128, 144, 0.15),
        rgba(112, 128, 144, 0.65)
    ),

    /* Background image from https://www.toptal.com/designers/subtlepatterns/ */
    url(../images/upfeathers.png);
}

.navbar{
    background: 
    linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.6)
    ),
    url(../images/upfeathers.png);
    border-bottom: solid 3px #d3c8ff99;
}

.navbar-brand{
    font-family: 'Alegreya', serif;
    font-weight: 800;
    letter-spacing: -1px;
    font-size: 32px;
    padding-right: 8px;
}

.nav-item{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 18px;
    padding-top: 8px;
}

.contents{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    background: 
    linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.6)
    ),
    url(../images/upfeathers.png);
    border: solid 3px #d3c8ff99;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

h1{
    font-family: 'Alegreya', serif;
    font-weight: 800;
    letter-spacing: -1px;
    font-size: 32px;
    padding-right: 8px;
}

h2{
    margin-top: 5px;
}

hr {
    border: 0;
    height: 0;
    border-bottom: solid 3px #d3c8ff99;
}

textarea{
    width: 100%;
    height: 300px;
}

input{
    width: 100%;
}

.pic{
    float:left;
    margin-right: 10px;
}

.portfolio-img{
    width: 100%;
}

.portfolio-img-col{
    padding-left:0px;
    padding-bottom: 65px;
}

.portfolio-text-col{
    padding-bottom: 65px;
}

.portfolio-item{
    margin: auto;
    border: solid 3px #d3c8ff99;
}

.btn{
    position: absolute;
    bottom: 15px;
    width: 50%;
}

.right-btn{
    right:15px;
}


.btn-info {
    color: #000;
    background-color: #d3c8ff99;
    border-color: #bfaeff99;
  }
  .btn-info:focus,
  .btn-info.focus {
    color: #ffffff;
    background-color: #aa95ffcc;
    border-color: #592fffcc;
  }
  .btn-info:hover {
    color: #ffffff;
    background-color: #aa95ffcc;
    border-color: #8e71ffcc;
  }
  .btn-info:active,
  .btn-info.active,
  .open > .dropdown-toggle.btn-info {
    color: #ffffff;
    background-color: #aa95ffcc;
    border-color: #8e71ffcc;
  }
  .btn-info:active:hover,
  .btn-info.active:hover,
  .open > .dropdown-toggle.btn-info:hover,
  .btn-info:active:focus,
  .btn-info.active:focus,
  .open > .dropdown-toggle.btn-info:focus,
  .btn-info:active.focus,
  .btn-info.active.focus,
  .open > .dropdown-toggle.btn-info.focus {
    color: #ffffff;
    background-color: #8e71ffcc;
    border-color: #592fffcc;
  }
  .btn-info:active,
  .btn-info.active,
  .open > .dropdown-toggle.btn-info {
    background-image: none;
  }
  .btn-info.disabled:hover,
  .btn-info[disabled]:hover,
  fieldset[disabled] .btn-info:hover,
  .btn-info.disabled:focus,
  .btn-info[disabled]:focus,
  fieldset[disabled] .btn-info:focus,
  .btn-info.disabled.focus,
  .btn-info[disabled].focus,
  fieldset[disabled] .btn-info.focus {
    background-color: #d3c8ff66;
    border-color: #bfaeff66;
  }
  .btn-info .badge {
    color: #d3c8ff99;
    background-color: #ffffff;
  }
